<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="lobby.css">
      <title>peerChat2</title>
</head>
<body>
      <main>
            
            <div id="form-container">
                  <div id="form__container__header">
                        <p> 😎 create or join a room</p>

                  </div>
                  <div id="form__content__wrapper">
                        <form action="" id="join-form">
                              <input type="text" name="invite_link" required/>
                              <input type="submit" value="join-room">
                  
                  
                  
                        </form>

                  </div>

            </div>
            
      </main>
      
      
</body>
<script>
      let form = document.getElementById("join-form");
      form.addEventListener("submit",(e)=>{
            e.preventDefault();
            let inviteCode = e.target.invite_link.value
            window.location=`/room/${inviteCode}`

      })


</script>
</html>